## grub2 configuration

if [ -f /boot/grub/grub_local_custom_early.cfg ] ; then
    source "/boot/grub/grub_local_custom_early.cfg"
fi

source /boot/grub/header.cfg

insmod regexp

if [ -f /boot/grub/grub_local_custom_pre_entry.cfg ] ; then
    source "/boot/grub/grub_local_custom_pre_entry.cfg"
fi

for config in /boot/grub/*_default.cfg ; do
    source "$config"
    regexp --set 1:config "(/boot/grub/.+)_default.cfg" "$config"
    set config="${config}_options.cfg"
    source "$config"
done

# separator entry, no action
menuentry "" {
    true
}

if [ -f /boot/grub/addons.cfg ] ; then
    source "/boot/grub/addons.cfg"
fi

if [ -f /boot/grub/help.cfg ] ; then
    source "/boot/grub/help.cfg"
fi

if [ "${grub_platform}" == "efi" ] ; then
menuentry "UEFI Firmware Settings" {
    fwsetup
}
fi # efi mode

menuentry "Boot from next device" {
    exit
}

source /boot/grub/footer.cfg

if [ -f /boot/grub/grub_local_custom_late.cfg ] ; then
    source "/boot/grub/grub_local_custom_late.cfg"
fi

# EOF
